/* --- COLORS --- */
/* --- FONTS --- */
/* --- COLORS END ---*/
/* --- Mixins ---*/
/*--- Base Styles ---*/
* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0; }

section {
  margin: 50px 0; }

header {
  font-family: "Lobster", cursive, Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  /* Start here */
  height: 150px;
  /*
  position: fixed;
  width: 100%;
  top: 0;
  */ }

a:hover {
  color: #1bc7a5;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }
