/* --- Main Logo -- */

.logo {
    display: block;
    padding-top: 40px;
}


/* --- Mavigation Bar --- */

.navbar {
    background: white;
    margin-bottom: 0;
    ul {
        li {
            border-right: 1px solid #ddd;
            &:last-child {
                border-right: none;
            }
        }
    }
}

.navbar-nav.nav-justified > li{
    float: none;
}

.main-nav {
    background: #fff;
    z-index: 150;
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    position: relative;
    text-align: center;
    a {
     color: #555555;
     font-family: $secondaryFont;
     font-size: 1.1em; 
     letter-spacing: 2px;
     text-decoration: none;
     font-weight: bold;
     text-transform: uppercase;
     color: #444135;
     display: inline-block;
     padding: 10px 20px 10px 0;
     margin: 20px 10px;
     border-right: 1px solid #555555;
     &:hover {
        color: $turquoise;
        @include transition(0.5s);
     }
     &:last-child {
        border: none;
     }
    }
}

.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}



/* --- Flexslider --- */

/* --- Backstretch ---*/

/* --- Section Header --- */

.section-header {
    font-family: $secondaryFont;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 3px;
    padding: 40px 0;
    border-top: 1px solid $turquoise;
    border-bottom: 1px solid $turquoise;
}

/* --- Lightbox --- */

.gallery {
    margin: 5px 0;
}

/* --- WuFoo Form ---*/

.contact-form {
    background-color: white;
    padding: 50px;
    width: 550px;
    @include borderRadius(3px);
    input, textarea {
        font-weight: 500;
        border: none;
        border-bottom: 1px solid $turquoise;
        @include borderRadius(0);
        @include boxShadow(inset 0 0 0 rgba(0,0,0,0));
        outline: 0;
        background-color: transparent;
    }
    textarea {
        height: 100px;
    }
    h2 {
        font-family: $primaryFont;
    }
    .form-group {
        margin: 20px 0;
    }
    .form-control {
        height: 40px;
    }
    .submit-btn {
        width: 100%;
        background-color: $concrete;
        border: 1px solid $grey;
        margin-top: 20px;
        @include borderRadius(3px);
        &:hover {
            background-color: $turquoise;
            @include transition(0.5s);
        }
    }
}

