/* --- NAVBAR --- */
.navbar {
    background: white;
    margin-bottom: 0;
    ul {
        li {
            border-right: 1px solid #ddd;
            &:last-child {
                border-right: none;
            }
        }
    }
}

.navbar-nav.nav-justified > li{
    float: none;
}

/* --- Flexslider --- */

/* --- Backstretch ---*/

.test {
    display: block;   
}

.test2 {
    height: 200px;
}

