html, body {
  height: 100%; }

section {
  margin: 50px 0; }

/*** Centering ***/
/* --- Mavigation Bar --- */
.navbar {
  background: white;
  margin-bottom: 0; }
  .navbar ul li {
    border-right: 1px solid #ddd; }
    .navbar ul li:last-child {
      border-right: none; }

.navbar-nav.nav-justified > li {
  float: none; }

/* --- Flexslider --- */
/* --- Backstretch ---*/
/* --- Section Header --- */
.section-header {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 3px; }

/* --- HEADER ---*/
.logo {
  font-family: 'Lobster', cursive, Arial, Helvetica;
  font-size: 50px;
  text-align: center;
  margin: 30px 0 30px 0; }

/* --- END OF HEADER ---*/
/*--- SECTION 3 ---*/
#section3 img {
  height: 150px;
  width: 175px; }
