@import 'base';
@import 'layout';
@import 'module';
@import 'state';
@import 'theme';

/* --- HEADER ---*/

.logo {
    font-family: 'Lobster', cursive, Arial, Helvetica;
    font-size: 50px;
    text-align: center;
    margin: 30px 0 30px 0;
}

/* --- END OF HEADER ---*/

/*--- SECTION 3 ---*/
 
#section3 {
    img {
        height: 150px;
        width: 175px;   
    }
    .zincity {
        
    }
}
